<div class="relative rounded-xl overflow-hidden w-full">
  <iframe
    width="100%"
    class="h-[50vh] md:h-[70vh]"
    id="yt-video"
    src="https://www.youtube.com/embed/s2-AqZOZtTk"
    data-video="https://www.youtube.com/embed/s2-AqZOZtTk?autoplay=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <div
    class="play-container absolute top-0 left-0 w-full h-full z-30 bg-no-repeat bg-center bg-cover flex justify-center items-center"
    style="background-image: url('/video-bg.png')"
  >
    <button>play</button>
  </div>
</div>
