---

---

<div class="relative rounded-xl overflow-hidden w-full" id="video-container">
  <lite-youtube videoid="s2-AqZOZtTk" class="h-[50vh] md:h-[70vh]">
  </lite-youtube>

  <!-- <div
    class="play-container absolute top-0 left-0 w-full h-full z-30 bg-no-repeat bg-center bg-cover flex justify-center items-center"
    style="background-image: url('/video-bg.png')"
  >
    <button>play</button>
  </div> -->
</div>

<script>
  import "@justinribeiro/lite-youtube";

  const videoContainer = document.querySelector("#video-container");
</script>
