---
import LogoHero from "../icons/LogoHero.astro";
import PrincipalImage from "../images/PrincipalImage.astro";
import FloatLogo from "../images/FloatLogo.astro";
import BCP from "../icons/bcp.astro";
---

<section id="inicio" class="main-section bg-primary overflow-hidden relative">
  <div class="container py-10 md:py-24 pb-0 lg:pb-24 flex flex-col gap-8">
    <div class="w-full flex flex-col justify-center gap-6">
      <div class="flex items-center gap-4">
        <span class="h-[4px] w-16 hidden md:block"></span>
        <span class="flex gap-2">
          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.60391C0 8.0412 0.335351 7.55807 0.886692 7.34208C2.42703 6.73958 3.97306 6.13141 5.5134 5.52323C9.83887 3.82373 14.17 2.12424 18.4955 0.413381C19.4163 0.0496099 20.2973 0.578215 20.4451 1.41375C20.4962 1.70363 20.4337 1.97646 20.3257 2.2436C18.899 5.85289 17.4781 9.46218 16.0514 13.0715C15.1647 15.3166 14.278 17.5618 13.3913 19.8069C13.0844 20.5799 12.2659 20.9153 11.544 20.5742C11.1462 20.3867 10.9074 20.0684 10.7938 19.6478C10.3675 18.062 9.93549 16.4761 9.5092 14.8903C9.26479 13.9866 9.02038 13.0885 8.78166 12.1848C8.74187 12.0427 8.67366 11.9802 8.53157 11.9404C6.03632 11.2754 3.54677 10.6047 1.05153 9.93395C0.414926 9.76343 0 9.24051 0 8.60391Z"
              fill="white"></path>
          </svg>
          <!--?= get_default_value($pre_title, "En esta casa los sueños no tienen límites.") ?-->
        </span>
      </div>

      <div class="flex items-center gap-4">
        <span class="h-[4px] w-16 hidden md:block"></span>
        <h1 class="text-6xl md:text-8xl font-bold">
          FLATS DÚPLEX <br /> Y TRÍPLEX
        </h1>
      </div>

      <div class="flex gap-3 md:gap-8">
        <div class="flex items-center gap-4">
          <span class="h-[4px] bg-white w-16"></span>
          <p class="text-lg">
            <b>Sueña en grande</b>
            <br /> y encontrarás tu nuevo hogar.
          </p>
        </div>
        <svg
          width="2"
          height="64"
          viewBox="0 0 2 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="hidden md:block"
        >
          <line
            x1="0.55972"
            y1="63.146"
            x2="0.559723"
            y2="-7.25022e-05"
            stroke="black"
            stroke-width="1.05243"></line>
        </svg>

        <BCP />
      </div>
    </div>

    <div class="flex items-center gap-4">
      <span class="h-[4px] w-16 hidden md:block"></span>
      <svg
        width="42"
        height="42"
        viewBox="0 0 42 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M36.6659 1H12.7958C12.5166 1 12.2489 1.11091 12.0515 1.30832C11.8541 1.50573 11.7432 1.77348 11.7432 2.05267C11.7432 2.33185 11.8541 2.5996 12.0515 2.79702C12.2489 2.99443 12.5166 3.10534 12.7958 3.10534H36.6659C37.257 3.10592 37.8236 3.34094 38.2416 3.75883C38.6595 4.17672 38.8946 4.74335 38.8953 5.33438V29.2052C38.8953 29.4843 39.0062 29.7521 39.2036 29.9495C39.401 30.1469 39.6688 30.2578 39.948 30.2578C40.2272 30.2578 40.4949 30.1469 40.6923 29.9495C40.8897 29.7521 41.0006 29.4843 41.0006 29.2052V5.33438C40.9994 4.18516 40.5422 3.08339 39.7296 2.2708C38.917 1.45822 37.8151 1.00119 36.6659 1Z"
          fill="black"
          stroke="black"
          stroke-width="0.2"></path>
        <path
          d="M37.4104 32.641C37.2099 32.4497 36.9434 32.3429 36.6662 32.3429C36.389 32.3429 36.1225 32.4497 35.9219 32.641C35.8241 32.7387 35.7466 32.8548 35.6937 32.9825C35.6408 33.1102 35.6135 33.2471 35.6135 33.3853C35.6135 33.5235 35.6408 33.6604 35.6937 33.7881C35.7466 33.9158 35.8241 34.0318 35.9219 34.1296L37.407 35.6143H8.61557C8.02464 35.6136 7.45814 35.3785 7.04032 34.9606C6.62251 34.5428 6.38751 33.9762 6.38687 33.3853V4.59385L7.8713 6.07862C8.07184 6.26998 8.33838 6.37674 8.61557 6.37674C8.89276 6.37674 9.1593 6.26998 9.35984 6.07862C9.45761 5.9809 9.53517 5.86487 9.58809 5.73717C9.641 5.60946 9.66824 5.47258 9.66824 5.33435C9.66824 5.19612 9.641 5.05924 9.58809 4.93153C9.53517 4.80383 9.45761 4.6878 9.35984 4.59008L6.07848 1.30837C5.87793 1.11702 5.61139 1.01025 5.3342 1.01025C5.05701 1.01025 4.79047 1.11702 4.58993 1.30837L1.30789 4.59008C1.11073 4.7876 1 5.05527 1 5.33435C1 5.61343 1.11073 5.8811 1.30789 6.07862C1.50843 6.26998 1.77497 6.37674 2.05215 6.37674C2.32934 6.37674 2.59588 6.26998 2.79642 6.07862L4.28153 4.59385V33.3853C4.28278 34.5344 4.7398 35.6361 5.5523 36.4487C6.36481 37.2612 7.46646 37.7183 8.61557 37.7197H37.407L35.9219 39.2044C35.8242 39.3022 35.7466 39.4182 35.6937 39.5459C35.6408 39.6736 35.6136 39.8105 35.6136 39.9487C35.6136 40.0869 35.6408 40.2238 35.6937 40.3515C35.7466 40.4792 35.8242 40.5952 35.9219 40.693C36.0196 40.7907 36.1357 40.8683 36.2634 40.9212C36.3911 40.974 36.528 41.0013 36.6662 41.0013C36.8044 41.0013 36.9413 40.974 37.069 40.9212C37.1967 40.8683 37.3127 40.7907 37.4104 40.693L40.6925 37.4113C40.7903 37.3136 40.8678 37.1975 40.9207 37.0698C40.9737 36.9421 41.0009 36.8052 41.0009 36.667C41.0009 36.5288 40.9737 36.3919 40.9207 36.2642C40.8678 36.1365 40.7903 36.0205 40.6925 35.9227L37.4104 32.641Z"
          fill="black"
          stroke="black"
          stroke-width="0.2"></path>
        <path
          d="M25.7402 28.1317C26.0193 28.1313 26.2869 28.0203 26.4842 27.823C26.6816 27.6256 26.7926 27.3581 26.7929 27.079V16.9272C26.7949 16.1138 26.55 15.319 26.0906 14.6478C25.6312 13.9766 24.9789 13.4606 24.2199 13.168C23.461 12.8755 22.6311 12.8202 21.84 13.0094C21.049 13.1986 20.334 13.6234 19.7895 14.2277C19.4134 13.8113 18.9545 13.4781 18.4422 13.2494C17.9299 13.0206 17.3755 12.9013 16.8145 12.8991C16.1403 12.899 15.4775 13.0727 14.8901 13.4035C14.8769 13.1291 14.757 12.8707 14.5559 12.6835C14.3548 12.4963 14.0885 12.3952 13.8139 12.4017C13.5392 12.4081 13.278 12.5218 13.0859 12.7182C12.8939 12.9147 12.7863 13.1785 12.7861 13.4532V27.079C12.7861 27.3582 12.897 27.6259 13.0945 27.8233C13.2919 28.0207 13.5596 28.1316 13.8388 28.1316C14.118 28.1316 14.3857 28.0207 14.5832 27.8233C14.7806 27.6259 14.8915 27.3582 14.8915 27.079V16.9272C14.8924 16.4179 15.0954 15.9298 15.4559 15.57C15.8164 15.2102 16.3049 15.0081 16.8142 15.0081C17.3235 15.0081 17.812 15.2102 18.1724 15.57C18.5329 15.9298 18.7359 16.4179 18.7369 16.9272V27.079C18.7369 27.3582 18.8478 27.6259 19.0452 27.8233C19.2426 28.0207 19.5103 28.1317 19.7895 28.1317C20.0687 28.1317 20.3365 28.0207 20.5339 27.8233C20.7313 27.6259 20.8422 27.3582 20.8422 27.079V16.9272C20.8422 16.4172 21.0448 15.9282 21.4053 15.5676C21.7659 15.207 22.255 15.0045 22.7649 15.0045C23.2748 15.0045 23.7639 15.207 24.1245 15.5676C24.485 15.9282 24.6876 16.4172 24.6876 16.9272V27.079C24.6879 27.3581 24.7989 27.6256 24.9962 27.823C25.1936 28.0203 25.4611 28.1313 25.7402 28.1317Z"
          fill="black"
          stroke="black"
          stroke-width="0.2"></path>
        <path
          d="M33.9476 13.5048L34.1148 13.277C34.4614 12.7668 34.6469 12.1643 34.6473 11.5475C34.6473 10.7223 34.3195 9.93077 33.7359 9.3472C33.1523 8.76363 32.3609 8.43579 31.5356 8.43579C30.7103 8.43579 29.9188 8.76363 29.3352 9.3472C28.7517 9.93077 28.4238 10.7223 28.4238 11.5475C28.4238 11.8267 28.5347 12.0945 28.7321 12.2919C28.9296 12.4893 29.1973 12.6002 29.4765 12.6002C29.7557 12.6002 30.0234 12.4893 30.2208 12.2919C30.4183 12.0945 30.5292 11.8267 30.5292 11.5475C30.53 11.3946 30.5657 11.244 30.6336 11.1069C30.7014 10.9699 30.7995 10.8501 30.9205 10.7567C31.0416 10.6632 31.1823 10.5986 31.332 10.5677C31.4818 10.5367 31.6366 10.5403 31.7847 10.5782C31.9329 10.6161 32.0704 10.6872 32.187 10.7861C32.3035 10.8851 32.396 11.0093 32.4574 11.1494C32.5187 11.2894 32.5474 11.4416 32.5412 11.5944C32.5349 11.7471 32.4939 11.8965 32.4214 12.0311L29.14 15.5537C28.9632 15.7422 28.8454 15.9784 28.8011 16.2331C28.7568 16.4877 28.7878 16.7498 28.8905 16.987C28.9932 17.2243 29.163 17.4263 29.379 17.5683C29.595 17.7102 29.8478 17.786 30.1063 17.7861H33.5296C33.8088 17.7861 34.0765 17.6752 34.2739 17.4778C34.4713 17.2804 34.5822 17.0126 34.5822 16.7335C34.5822 16.4543 34.4713 16.1865 34.2739 15.9891C34.0765 15.7917 33.8088 15.6808 33.5296 15.6808H31.9108L33.8709 13.5967C33.8976 13.5675 33.9236 13.5367 33.9476 13.5048Z"
          fill="black"
          stroke="black"
          stroke-width="0.2"></path>
      </svg>

      <b>Desde 121 m2 hasta 240 m2</b>
    </div>

    <ul class="flex items-center gap-4">
      <li class="h-[4px] w-16 hidden md:block"></li>

      <li class="flex items-center gap-4">
        <svg
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_123_657)">
            <path
              d="M39.5391 22.442V6.23438C39.5391 4.19897 37.8831 2.54297 35.8477 2.54297C34.2432 2.54297 32.875 3.57156 32.3671 5.00391H9.6329C9.12502 3.57156 7.75676 2.54297 6.15234 2.54297C4.11694 2.54297 2.46094 4.19897 2.46094 6.23438V22.442C1.02859 22.9502 0 24.3178 0 25.9219V39.457H7.38281V34.5352H34.6172V39.457H42C42 37.0772 42 29.315 42 25.9219C42 24.3178 40.9714 22.9502 39.5391 22.442ZM6.15234 5.00391C6.8307 5.00391 7.38281 5.55602 7.38281 6.23438V7.46484H34.6172V6.23438C34.6172 5.55602 35.1693 5.00391 35.8477 5.00391C36.526 5.00391 37.0781 5.55602 37.0781 6.23438V22.2305H34.4057C34.5422 21.8453 34.6172 21.4313 34.6172 21V18.5391C34.6172 16.5037 32.9612 14.8477 30.9258 14.8477H23.4609C22.5163 14.8477 21.6537 15.2049 21 15.7907C20.3463 15.2049 19.4837 14.8477 18.5391 14.8477H11.0742C9.03882 14.8477 7.38281 16.5037 7.38281 18.5391V21C7.38281 21.4313 7.45779 21.8453 7.5943 22.2305H4.92188V6.23438C4.92188 5.55602 5.47398 5.00391 6.15234 5.00391ZM9.84375 21V18.5391C9.84375 17.8607 10.3959 17.3086 11.0742 17.3086H18.5391C19.2174 17.3086 19.7695 17.8607 19.7695 18.5391V22.2305H11.0742C10.3959 22.2305 9.84375 21.6784 9.84375 21ZM22.2305 18.5391C22.2305 17.8607 22.7826 17.3086 23.4609 17.3086H30.9258C31.6041 17.3086 32.1562 17.8607 32.1562 18.5391V21C32.1562 21.6784 31.6041 22.2305 30.9258 22.2305H22.2305C22.2305 21.0743 22.2305 19.6917 22.2305 18.5391ZM39.5391 36.9961H37.0781V32.0742H4.92188V36.9961H2.46094V29.6133H39.5391V36.9961ZM2.46094 27.1523V25.9219C2.46094 25.2435 3.01305 24.6914 3.69141 24.6914H38.3086C38.987 24.6914 39.5391 25.2435 39.5391 25.9219V27.1523H2.46094Z"
              fill="black"></path>
          </g>
          <defs>
            <clipPath id="clip0_123_657">
              <rect width="42" height="42" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>

        <b> Dorms 2 y 3</b>
      </li>

      <li>
        <svg
          width="2"
          height="30"
          viewBox="0 0 2 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="1.47378"
            y1="30"
            x2="1.47378"
            y2="2.30017e-08"
            stroke="black"
            stroke-width="1.05243"></line>
        </svg>
      </li>

      <li class="flex items-center gap-4">
        <svg
          width="43"
          height="44"
          viewBox="0 0 43 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.3096 22.0823V2.21619H2L4.45863 22.0823H9.38411"
            stroke="black"
            stroke-width="2.46274"
            stroke-miterlimit="10"
            stroke-linecap="square"></path>
          <path
            d="M31.5494 41.7842V33.3713C35.8979 31.4713 38.9369 27.1323 38.9376 22.0823H9.38477C9.38477 24.0942 9.86722 25.9933 10.7229 27.6704C12.0146 30.2025 14.1568 32.2283 16.773 33.3714V41.7842"
            stroke="black"
            stroke-width="2.46274"
            stroke-miterlimit="10"
            stroke-linecap="square"></path>
          <path
            d="M19.2354 22.0823V19.6195C19.2354 18.2594 20.338 17.1568 21.6981 17.1568H38.9373C40.2973 17.1568 41.4 18.2594 41.4 19.6195C41.4 20.9797 40.2973 22.0823 38.9373 22.0823"
            stroke="black"
            stroke-width="2.46274"
            stroke-miterlimit="10"
            stroke-linecap="square"></path>
          <path
            d="M9.38477 7.30582V9.76855"
            stroke="black"
            stroke-width="2.46274"
            stroke-miterlimit="10"
            stroke-linecap="square"></path>
          <path
            d="M11.8477 41.7842H36.475"
            stroke="black"
            stroke-width="2.46274"
            stroke-miterlimit="10"
            stroke-linecap="square"></path>
        </svg>

        <b>Baños 2 y 3</b>
      </li>
    </ul>

    <div class="hidden lg:flex items-center gap-4 pt-4">
      <span class="h-[4px] w-16 hidden md:block"></span>
      <a
        href="#contacto"
        class="border border-white border-solid rounded-full flex w-14 h-14 items-center justify-center animate-bounce"
        aria-label="Read more contact us"
      >
        <svg
          width="23"
          height="26"
          viewBox="0 0 23 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.5536 25.563C12.4906 25.5543 13.3865 25.1768 14.0471 24.5122L21.7055 16.8715C22.0373 16.5378 22.2234 16.0864 22.2234 15.6159C22.2234 15.1454 22.0373 14.694 21.7055 14.3603C21.54 14.1933 21.343 14.0608 21.1259 13.9704C20.9089 13.88 20.6761 13.8334 20.441 13.8334C20.2059 13.8334 19.9731 13.88 19.756 13.9704C19.539 14.0608 19.342 14.1933 19.1765 14.3603L13.3346 20.2199L13.3346 2.40946C13.3346 1.9371 13.147 1.48408 12.813 1.15007C12.479 0.816063 12.026 0.628418 11.5536 0.628418C11.0812 0.628417 10.6282 0.816063 10.2942 1.15007C9.96019 1.48408 9.77255 1.9371 9.77255 2.40946L9.77255 20.2199L3.91292 14.3603C3.5799 14.0249 3.1273 13.8355 2.65468 13.8339C2.18205 13.8322 1.72812 14.0183 1.39274 14.3514C1.05736 14.6844 0.868013 15.137 0.866342 15.6096C0.864673 16.0822 1.05082 16.5362 1.38384 16.8715L9.04232 24.5122C9.70727 25.1811 10.6104 25.559 11.5536 25.563Z"
            fill="white"></path>
        </svg>
      </a>
    </div>
  </div>

  <LogoHero />

  <PrincipalImage />

  <FloatLogo />
</section>
