---
import { Image } from "astro:assets";
import TextField from "$lib/components/TextField.astro";
import AreaField from "$lib/components/AreaField.astro";
---

<section class="relative">
  <div class="container py-10 md:py-32 flex justify-end">
    <form
      class="max-w-96 border-2 border-primary border-solid rounded-3xl p-8 flex flex-col gap-4 relative z-20 bg-white"
    >
      <h1 class="font-bold text-center text-2xl">Contacto</h1>
      <p class="text-pretty text-center">
        Envíanos tu inquietud y nos comunicaremos contigo a la brevedad.
      </p>

      <TextField type="text" label="Nombres" />

      <TextField type="email" label="Email" />

      <AreaField label="Mensaje" />

      <input
        type="submit"
        value="Enviar"
        class="bg-secondary px-4 py-4 rounded-full w-full text-white font-bold"
      />

      <small> Este sitio no es official, se hizo con fines educativos.</small>
      <small
        >Por favor si desea obtener más acerca de <strong>Singulart</strong>,
        visite a <a
          href="https://singulart.com.pe/"
          class="underline"
          target="_blank"
          rel="noopener nofollow"
        >
          singulart.com.pe
        </a>
      </small>
    </form>
  </div>

  <Image
    src="/contact-builder.avif"
    alt="Builder"
    width={488}
    height={965}
    class="md:absolute bottom-0 left-0"
  />
  <Image
    src="/contact-happy-family.avif"
    alt="Builder"
    width={1174}
    height={842}
    class="absolute bottom-0 left-0"
  />
</section>
