---
import ImageSlider from "../components/ImageSlider.svelte";
import Typography from "../components/Typography.astro";
---

<ImageSlider client:load>
  <Typography component="h2" class="mx-auto mb-10">Galería</Typography>
  <h3 class="gallery-text">Ambientes</h3>
</ImageSlider>

<style lang="scss">
  .gallery-text {
    font-size: 5rem;
    -webkit-text-stroke: 2px #ffc015;
    color: transparent;
    font-family: Poppins;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: -1rem;

    @media (min-width: theme("screens.md")) {
      font-size: 7.5rem;
      -webkit-text-stroke: 4px #ffc015;
    }

    @media (min-width: theme("screens.lg")) {
      font-size: 8.5rem;
    }

    @media (min-width: theme("screens.2xl")) {
      font-size: 12.5rem;
    }
  }
</style>
