---
import Card from "../components/Card.astro";
import Typography from "../components/Typography.astro";
import Video from "../components/Video.astro";
import CardFeature from "../components/CardFeature.astro";
---

<section id="video" class="we-offer relative py-32">
  <span class="absolute -top-12 left-0">
    <svg
      class="w-[33px] h-[184px] lg:w-[63px] lg:h-[351px]"
      viewBox="0 0 63 351"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M-47 1V60.8431H-25.6275V229.686H62V171.98H38.4902V60.8431H62V1H-47Z"
        stroke="#FF7800"
        stroke-width="2"
        stroke-miterlimit="10"></path>
      <path
        d="M7.56896 349.211C28.2255 349.211 44.9709 332.465 44.9709 311.809C44.9709 291.152 28.2255 274.407 7.56896 274.407C-13.0876 274.407 -29.833 291.152 -29.833 311.809C-29.833 332.465 -13.0876 349.211 7.56896 349.211Z"
        stroke="#FF7800"
        stroke-width="2"
        stroke-miterlimit="10"></path>
    </svg>
  </span>

  <div
    class="container container-section !pb-0 flex flex-col items-center gap-8"
  >
    <Typography component="h2" class="font-extrabold">Te Ofrecemos</Typography>

    <div class="grid grid-cols-5 gap-6">
      <Card
        title="Ubicación"
        img={{
          src: "/icons/location.avif",
          alt: "Ubicación",
          width: 52,
          height: 65,
        }}
      >
        <p>Av. Paseo de la República 6171, Miraflores.</p>
      </Card>

      <Card
        title="Edificio"
        img={{
          src: "/icons/building.avif",
          alt: "Building",
          width: 66,
          height: 65,
        }}
      >
        <p>
          Cuenta con 17 pisos, con 34 departamentos desde 120 a 236 metros
          cuadrados.
        </p>
        <p>
          <strong>Cuenta con Certificación EDGE.</strong>
        </p>
      </Card>

      <Card
        title="Sky Lounge"
        img={{
          src: "/icons/sky-longe.avif",
          alt: "Sky Longe",
          width: 66,
          height: 65,
        }}
      >
        <p>
          Termina tu día en el Sky Lounge y disfruta de la mejor vista a la
          ciudad y al mar.
        </p>
      </Card>

      <Card
        title="Sky BBQ"
        img={{
          src: "/icons/sky-bbq.avif",
          alt: "Sky BBQ",
          width: 66,
          height: 65,
        }}
      >
        <p>
          Un espacio amplio y abierto para que te conviertas en el mejor
          anfitrión.
        </p>
      </Card>

      <Card
        title="Sky Bar"
        img={{
          src: "/icons/sky-bar.avif",
          alt: "Sky BBQ",
          width: 75,
          height: 70,
        }}
      >
        <p>
          Una copa de vino, un chilcano o quizás spñp agua mineral con un toque
          de limón.
        </p>
      </Card>
    </div>

    <Video />

    <ul class="w-full flex justify-between flex-wrap gap-4 md:px-8">
      <li>
        <CardFeature title="17" label="PISOS" />
      </li>
      <li>
        <CardFeature title="34" label="DEPARTAMENTOS" />
      </li>
      <li>
        <CardFeature title="1" label="DÚPLEX" />
      </li>
      <li>
        <CardFeature title="1" label="TRÍPLEX" />
      </li>
    </ul>
  </div>
</section>
