---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header
			class="singulart-header sticky top-0 border-b border-b-white bg-primary z-40"
		>
			<div class="container flex justify-between py-5">
				<a href="#">
					<img src="/logo-singulart.png" alt="Singulart" />
				</a>

				<nav class="hidden lg:block navigation">
					<ul class="flex items-center justify-end gap-6">
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Inicio
							</a>
						</li>
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Video
							</a>
						</li>
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Ubicación
							</a>
						</li>
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Fotografía
							</a>
						</li>

						<li class="flex gap-2">
							<a href="#" target="_blank" aria-label="facebook">
								<svg
									width="60"
									height="60"
									viewBox="0 0 60 60"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<g filter="url(#filter0_d_123_428)">
										<circle cx="30" cy="26" r="21" fill="white"></circle>
									</g>
									<g clip-path="url(#clip0_123_428)">
										<path
											d="M27.512 37.6662C27.512 37.572 27.4932 37.4778 27.4932 37.3648C27.4932 34.0315 27.4932 30.6793 27.4932 27.346C27.4932 27.2519 27.4932 27.1577 27.4932 27.0259C26.2879 27.0259 25.1203 27.0259 23.915 27.0259C23.915 25.6323 23.915 24.2763 23.915 22.8827C25.1015 22.8827 26.2691 22.8827 27.4932 22.8827C27.4932 22.7697 27.4932 22.6756 27.4932 22.5814C27.4932 21.4891 27.4744 20.4157 27.512 19.3234C27.5685 18.024 27.9452 16.8187 28.868 15.8394C29.5648 15.105 30.4499 14.6718 31.4292 14.4647C32.239 14.2952 33.0487 14.314 33.8585 14.3517C34.5177 14.3705 35.1768 14.427 35.8359 14.4835C35.8924 14.4835 35.9301 14.5023 36.0054 14.5212C36.0054 15.7453 36.0054 16.9694 36.0054 18.2123C35.9301 18.2123 35.8548 18.2123 35.7606 18.2123C34.9508 18.2311 34.141 18.2123 33.3312 18.25C32.3708 18.3065 31.8246 18.8338 31.787 19.7942C31.7493 20.7923 31.7681 21.7905 31.7681 22.8074C31.7681 22.8262 31.787 22.8262 31.787 22.8827C33.1241 22.8827 34.48 22.8827 35.8548 22.8827C35.6665 24.2763 35.497 25.6511 35.3275 27.0259C34.141 27.0259 32.9734 27.0259 31.787 27.0259C31.787 27.12 31.7681 27.1765 31.7681 27.2519C31.7681 30.6793 31.7681 34.1068 31.7681 37.5155C31.7681 37.572 31.7681 37.6285 31.787 37.6662C30.3745 37.6662 28.9433 37.6662 27.512 37.6662Z"
											fill="#FFC015"></path>
									</g>
									<defs>
										<filter
											id="filter0_d_123_428"
											x="0"
											y="0"
											width="60"
											height="60"
											filterUnits="userSpaceOnUse"
											color-interpolation-filters="sRGB"
										>
											<feFlood flood-opacity="0" result="BackgroundImageFix"
											></feFlood>
											<feColorMatrix
												in="SourceAlpha"
												type="matrix"
												values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
												result="hardAlpha"></feColorMatrix>
											<feOffset dy="4"></feOffset>
											<feGaussianBlur stdDeviation="4.5"></feGaussianBlur>
											<feComposite in2="hardAlpha" operator="out"></feComposite>
											<feColorMatrix
												type="matrix"
												values="0 0 0 0 0.705882 0 0 0 0 0.494118 0 0 0 0 0.231373 0 0 0 0.18 0"
											></feColorMatrix>
											<feBlend
												mode="normal"
												in2="BackgroundImageFix"
												result="effect1_dropShadow_123_428"></feBlend>
											<feBlend
												mode="normal"
												in="SourceGraphic"
												in2="effect1_dropShadow_123_428"
												result="shape"></feBlend>
										</filter>
										<clipPath id="clip0_123_428">
											<rect
												width="12.0904"
												height="23.3333"
												fill="white"
												transform="translate(23.9336 14.333)"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
							<a href="#" target="_blank" aria-label="facebook">
								<svg
									width="60"
									height="60"
									viewBox="0 0 60 60"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<g filter="url(#filter0_d_123_433)">
										<circle cx="30" cy="26" r="21" fill="white"></circle>
									</g>
									<g clip-path="url(#clip0_123_433)">
										<path
											d="M33.5327 37.7073C31.1897 37.7073 28.8422 37.7073 26.4992 37.7073C26.3571 37.6936 26.2149 37.6752 26.0682 37.6706C25.142 37.6477 24.2113 37.611 23.3034 37.391C21.3685 36.9233 19.9288 35.8275 19.0714 34.0164C18.5395 32.893 18.3836 31.6872 18.3699 30.4629C18.3424 27.9457 18.3195 25.424 18.3332 22.9068C18.3378 21.7009 18.347 20.4859 18.6404 19.2983C19.1494 17.2351 20.3552 15.7541 22.3451 14.9471C23.4135 14.5115 24.5414 14.3923 25.6785 14.3786C28.0535 14.3465 30.4286 14.3281 32.8036 14.3327C34.0508 14.3373 35.3025 14.3281 36.5313 14.5987C38.7963 15.0938 40.3873 16.3914 41.1851 18.5968C41.5703 19.656 41.6574 20.7656 41.662 21.8751C41.6711 24.5712 41.6803 27.2626 41.6574 29.9586C41.6528 30.7243 41.5886 31.4946 41.474 32.2511C41.231 33.8009 40.534 35.1168 39.3144 36.1301C38.1223 37.1159 36.7101 37.5102 35.2016 37.611C34.6422 37.6523 34.0875 37.6752 33.5327 37.7073ZM30.0159 35.6395C30.0159 35.6257 30.0159 35.6165 30.0159 35.6028C30.6303 35.6028 31.2493 35.6211 31.8637 35.5982C33.1934 35.5523 34.5322 35.5661 35.8481 35.401C37.6455 35.1718 38.8605 34.131 39.3007 32.3428C39.4749 31.6275 39.5345 30.871 39.5483 30.1282C39.5895 27.9595 39.6033 25.7908 39.5895 23.622C39.5803 22.4895 39.5437 21.3524 39.4107 20.2291C39.1906 18.3492 38.0031 17.07 36.1553 16.7032C35.3483 16.5427 34.5093 16.4923 33.684 16.4785C31.4923 16.4464 29.3007 16.4419 27.109 16.4694C26.0911 16.4831 25.0641 16.5198 24.0599 16.6665C22.2764 16.9279 21.0613 18.0879 20.7037 19.8485C20.5478 20.6097 20.4928 21.4029 20.479 22.1823C20.4378 24.0714 20.424 25.9558 20.4469 27.8449C20.4607 29.1516 20.4928 30.4629 20.6212 31.7651C20.7541 33.1039 21.3914 34.1906 22.5881 34.8829C23.3218 35.3048 24.1333 35.4836 24.9678 35.5111C26.6505 35.5707 28.3332 35.5982 30.0159 35.6395Z"
											fill="#FFC015"></path>
										<path
											d="M24.0049 26.0155C24.0049 22.7005 26.7101 20.0045 30.0205 20.0137C33.3401 20.0229 36.004 22.6868 36.0177 26.0064C36.0315 29.3168 33.3309 32.0219 30.0159 32.0265C26.7055 32.0265 24.0049 29.3305 24.0049 26.0155ZM30.0113 29.9082C32.1663 29.9082 33.8994 28.1797 33.904 26.0247C33.9086 23.8697 32.18 22.132 30.0251 22.1274C27.8609 22.1228 26.1186 23.8606 26.1232 26.0247C26.1232 28.1751 27.8563 29.9082 30.0113 29.9082Z"
											fill="#FFC015"></path>
										<path
											d="M36.2881 18.3721C37.0721 18.3858 37.6727 19.0231 37.6498 19.8118C37.6315 20.5821 36.9987 21.1827 36.2193 21.1689C35.449 21.1552 34.8346 20.5087 34.8529 19.7246C34.8759 18.9635 35.5132 18.3583 36.2881 18.3721Z"
											fill="#FFC015"></path>
									</g>
									<defs>
										<filter
											id="filter0_d_123_433"
											x="0"
											y="0"
											width="60"
											height="60"
											filterUnits="userSpaceOnUse"
											color-interpolation-filters="sRGB"
										>
											<feFlood flood-opacity="0" result="BackgroundImageFix"
											></feFlood>
											<feColorMatrix
												in="SourceAlpha"
												type="matrix"
												values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
												result="hardAlpha"></feColorMatrix>
											<feOffset dy="4"></feOffset>
											<feGaussianBlur stdDeviation="4.5"></feGaussianBlur>
											<feComposite in2="hardAlpha" operator="out"></feComposite>
											<feColorMatrix
												type="matrix"
												values="0 0 0 0 0.705882 0 0 0 0 0.494118 0 0 0 0 0.231373 0 0 0 0.18 0"
											></feColorMatrix>
											<feBlend
												mode="normal"
												in2="BackgroundImageFix"
												result="effect1_dropShadow_123_433"></feBlend>
											<feBlend
												mode="normal"
												in="SourceGraphic"
												in2="effect1_dropShadow_123_433"
												result="shape"></feBlend>
										</filter>
										<clipPath id="clip0_123_433">
											<rect
												width="23.3333"
												height="23.3746"
												fill="white"
												transform="translate(18.333 14.333)"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
							<a href="#" target="_blank" aria-label="facebook">
								<svg
									width="60"
									height="60"
									viewBox="0 0 60 60"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<g filter="url(#filter0_d_123_440)">
										<circle cx="30" cy="26" r="21" fill="white"></circle>
									</g>
									<g clip-path="url(#clip0_123_440)">
										<path
											d="M29.9429 18.0664C32.3381 18.1615 34.7332 18.2456 37.1283 18.3516C37.6915 18.3772 38.2583 18.454 38.8141 18.5527C40.167 18.7977 41.03 19.7119 41.286 21.138C41.637 23.0944 41.7065 25.069 41.6407 27.0436C41.5932 28.4258 41.4615 29.8044 41.3262 31.183C41.2275 32.1922 40.8179 33.0515 39.9294 33.622C39.3882 33.973 38.7738 34.0717 38.1522 34.1376C35.7498 34.3899 33.3327 34.4484 30.9193 34.4374C28.473 34.4264 26.0266 34.3533 23.584 34.2729C22.8014 34.2473 22.0189 34.1485 21.24 34.0315C19.909 33.8377 19.0021 32.9235 18.7242 31.5486C18.45 30.1774 18.3841 28.7842 18.3439 27.391C18.3 25.5663 18.3549 23.7379 18.5889 21.9169C18.6401 21.5074 18.7096 21.0978 18.812 20.6992C19.1265 19.4779 20.1247 18.6551 21.4485 18.4906C23.7266 18.2054 26.0193 18.1798 28.3121 18.1432C28.8532 18.1322 29.3981 18.1432 29.9393 18.1432C29.9393 18.1176 29.9429 18.092 29.9429 18.0664Z"
											fill="#FFC015"></path>
										<path
											d="M27.6904 22.8018C27.6904 25.142 27.6904 27.4458 27.6904 29.7787C29.7162 28.6122 31.7128 27.4604 33.7459 26.2902C31.7091 25.1164 29.7126 23.9682 27.6904 22.8018Z"
											fill="white"></path>
									</g>
									<defs>
										<filter
											id="filter0_d_123_440"
											x="0"
											y="0"
											width="60"
											height="60"
											filterUnits="userSpaceOnUse"
											color-interpolation-filters="sRGB"
										>
											<feFlood flood-opacity="0" result="BackgroundImageFix"
											></feFlood>
											<feColorMatrix
												in="SourceAlpha"
												type="matrix"
												values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
												result="hardAlpha"></feColorMatrix>
											<feOffset dy="4"></feOffset>
											<feGaussianBlur stdDeviation="4.5"></feGaussianBlur>
											<feComposite in2="hardAlpha" operator="out"></feComposite>
											<feColorMatrix
												type="matrix"
												values="0 0 0 0 0.705882 0 0 0 0 0.494118 0 0 0 0 0.231373 0 0 0 0.18 0"
											></feColorMatrix>
											<feBlend
												mode="normal"
												in2="BackgroundImageFix"
												result="effect1_dropShadow_123_440"></feBlend>
											<feBlend
												mode="normal"
												in="SourceGraphic"
												in2="effect1_dropShadow_123_440"
												result="shape"></feBlend>
										</filter>
										<clipPath id="clip0_123_440">
											<rect
												width="23.3333"
												height="16.3783"
												fill="white"
												transform="translate(18.333 18.0664)"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
						</li>
					</ul>
				</nav>

				<ul class="lg:hidden">
					<li>
						<a
							href="#"
							class="button button-secondary contact-link font-semibold"
						>
							Inicio
						</a>
						<a
							href="#"
							class="button button-secondary contact-link font-semibold"
						>
							Video
						</a>
						<a
							href="#"
							class="button button-secondary contact-link font-semibold"
						>
							Ubicacion
						</a>
						<a
							href="#"
							class="button button-secondary contact-link font-semibold"
						>
							Fotografia
						</a>
					</li>
				</ul>

				<button
					class="hidden mobile-menu-button lg:hidden"
					aria-label="mobile menu"
				>
					<svg
						width="25"
						height="23"
						viewBox="0 0 25 23"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M0.421875 1.8444C0.421875 1.5232 0.549473 1.21515 0.776598 0.988024C1.00372 0.760898 1.31177 0.633301 1.63298 0.633301H23.4328C23.754 0.633301 24.062 0.760898 24.2892 0.988024C24.5163 1.21515 24.6439 1.5232 24.6439 1.8444C24.6439 2.1656 24.5163 2.47365 24.2892 2.70078C24.062 2.9279 23.754 3.0555 23.4328 3.0555H1.63298C1.31177 3.0555 1.00372 2.9279 0.776598 2.70078C0.549473 2.47365 0.421875 2.1656 0.421875 1.8444V1.8444ZM1.63298 12.7443H23.4328C23.754 12.7443 24.062 12.6167 24.2892 12.3896C24.5163 12.1625 24.6439 11.8544 24.6439 11.5332C24.6439 11.212 24.5163 10.904 24.2892 10.6768C24.062 10.4497 23.754 10.3221 23.4328 10.3221H1.63298C1.31177 10.3221 1.00372 10.4497 0.776598 10.6768C0.549473 10.904 0.421875 11.212 0.421875 11.5332C0.421875 11.8544 0.549473 12.1625 0.776598 12.3896C1.00372 12.6167 1.31177 12.7443 1.63298 12.7443V12.7443ZM1.63298 22.4331H23.4328C23.754 22.4331 24.062 22.3055 24.2892 22.0784C24.5163 21.8513 24.6439 21.5432 24.6439 21.222C24.6439 20.9008 24.5163 20.5928 24.2892 20.3656C24.062 20.1385 23.754 20.0109 23.4328 20.0109H1.63298C1.31177 20.0109 1.00372 20.1385 0.776598 20.3656C0.549473 20.5928 0.421875 20.9008 0.421875 21.222C0.421875 21.5432 0.549473 21.8513 0.776598 22.0784C1.00372 22.3055 1.31177 22.4331 1.63298 22.4331V22.4331Z"
							fill="white"></path>
					</svg>
				</button>
			</div>
		</header>
		<slot />
	</body>
</html>

<!-- <style is:global>

</style> -->
